{% extends "base.html" %}

{% block content %}

<style>

.add-page{

    min-height:90vh;

    padding:50px;

    background:
    linear-gradient(135deg,#1b3165,#2563eb);

    border-radius:20px;

}



/* CONTAINER */

.add-container{

    max-width:600px;

    margin:auto;

}



/* CARD */

.add-card{

    background:rgba(255,255,255,0.12);

    backdrop-filter:blur(15px);

    padding:40px;

    border-radius:30px;

    box-shadow:0 20px 40px rgba(0,0,0,.25);

}





/* HEADER */

.add-header{

    text-align:center;

    margin-bottom:30px;

}



.add-header h1{

    font-size:35px;

    color:white;

}



.add-header p{

    color:#dbeafe;

}






/* FORM */

.form-group{

    margin-bottom:20px;

}



.form-group label{

    display:block;

    margin-bottom:8px;

    font-weight:600;

    color:white;

}




.form-group input{

    width:100%;

    padding:15px;

    border-radius:15px;

    border:none;

    outline:none;

    font-size:16px;

    background:white;

    color:#1e293b;

}



.form-group input:focus{

    box-shadow:0 0 12px rgba(255,255,255,.4);

}




/* FILE INPUT */

.file-input{

    padding:12px !important;

}




/* BUTTON */

.add-btn{


    width:100%;

    padding:15px;

    border:none;

    border-radius:30px;


    background:
    linear-gradient(90deg,#10b981,#06b6d4);


    color:white;


    font-size:17px;


    font-weight:bold;


    cursor:pointer;


    transition:.3s;

}




.add-btn:hover{


    transform:translateY(-3px);

    box-shadow:0 15px 25px rgba(16,185,129,.4);

}





/* BACK */


.back-btn{


    display:block;

    text-align:center;

    margin-top:20px;


    text-decoration:none;


    color:#dbeafe;


    font-weight:bold;

}




</style>





<div class="add-page">



<div class="add-container">



<div class="add-card">





<div class="add-header">


<h1>

➕ Add New Paper

</h1>


<p>

Upload previous year papers for students

</p>


</div>







<form method="POST" 
enctype="multipart/form-data">






<div class="form-group">

<label>
📄 Paper Title
</label>


<input

type="text"

name="title"

placeholder="Example: Java MSBTE Paper"

required>


</div>







<div class="form-group">

<label>
📅 Year
</label>


<input

type="text"

name="year"

placeholder="Example: 2025"

required>


</div>







<div class="form-group">

<label>
📁 Upload PDF
</label>


<input

class="file-input"

type="file"

name="paper_file"

accept=".pdf"

required>


</div>







<button

class="add-btn"

type="submit">


➕ Upload Paper


</button>




</form>






<a href="/admin"

class="back-btn">

⬅ Back to Admin Panel

</a>






</div>


</div>


</div>




{% endblock %}