{% extends "base.html" %}

{% block content %}

<h2>Add New Note</h2>

<form method="POST">

<input type="text"
       name="title"
       class="form-control mb-3"
       placeholder="Note Title">

<select
        name="subject"
        class="form-control mb-3">

{% for subject in subjects %}

<option value="{{subject.id}}">
{{subject.name}}
</option>

{% endfor %}

</select>

<textarea
          name="content"
          rows="12"
          class="form-control mb-3"
          placeholder="Write Notes Here..."></textarea>

<button class="btn btn-success">

Save Note

</button>

</form>

{% endblock %}
