{% extends "base.html" %}

{% block content %}


<style>

.edit-page{

padding:50px;

background:linear-gradient(135deg,#1b3165,#2563eb);

min-height:90vh;

border-radius:20px;

}



.edit-card{

max-width:600px;

margin:auto;

background:white;

padding:40px;

border-radius:25px;

box-shadow:0 15px 30px rgba(0,0,0,.2);

}



h1{

text-align:center;

color:#1e293b;

}



label{

font-weight:bold;

color:#334155;

}



input{

width:100%;

padding:14px;

margin:10px 0 20px;

border-radius:15px;

border:1px solid #cbd5e1;

}



.update-btn{

width:100%;

padding:15px;

border:none;

border-radius:30px;

background:linear-gradient(90deg,#2563eb,#7c3aed);

color:white;

font-weight:bold;

cursor:pointer;

}



.update-btn:hover{

transform:translateY(-3px);

}



</style>



<div class="edit-page">


<div class="edit-card">


<h1>
✏ Edit Paper
</h1>



<form method="POST" enctype="multipart/form-data">



<label>
📄 Paper Title
</label>


<input

type="text"

name="title"

value="{{paper[1]}}"

required>




<label>
📅 Year
</label>


<input

type="text"

name="year"

value="{{paper[2]}}"

required>





<label>
📁 Replace PDF (Optional)
</label>


<input

type="file"

name="paper_file"

accept=".pdf">





<p>
Current File:
<b>{{paper[3]}}</b>
</p>




<button class="update-btn">

💾 Update Paper

</button>



</form>


</div>


</div>



{% endblock %}