{% extends "base.html" %}

{% block content %}


<style>

.manage-container{

    padding:40px;

}


.manage-card{

    background:white;
    padding:25px;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,0.1);

}


table{

    width:100%;
    border-collapse:collapse;
    margin-top:25px;

}


th{

    background:#2563eb;
    color:white;
    padding:15px;

}


td{

    padding:15px;
    text-align:center;
    border-bottom:1px solid #ddd;

}


.btn{

    padding:8px 15px;
    border-radius:20px;
    text-decoration:none;
    color:white;
    margin:5px;

}


.edit{

    background:#6366f1;

}


.delete{

    background:#ef4444;

}


.add{

    background:#10b981;
    display:inline-block;
    margin-bottom:20px;

}


</style>


<div class="manage-container">


<div class="manage-card">


<h1>⚙ Manage Papers</h1>


<a href="/add_paper" class="btn add">
➕ Add Paper
</a>



<table>


<tr>

<th>Title</th>
<th>Year</th>
<th>File</th>
<th>Action</th>

</tr>



{% for paper in papers %}


<tr>


<td>
{{ paper[1] }}
</td>


<td>
{{ paper[2] }}
</td>


<td>
{{ paper[3] }}
</td>


<td>


<a href="/admin/edit/{{ paper[0] }}"
class="btn edit">

✏ Edit

</a>



<a href="/admin/delete/{{ paper[0] }}"
class="btn delete"
onclick="return confirm('Delete this paper?')">

🗑 Delete

</a>


</td>


</tr>


{% endfor %}


</table>


</div>


</div>


{% endblock %}