{% extends "base.html" %}

{% block content %}

<div class="quiz-container">

<h1>📝 Subject-wise Quiz</h1>

<p>Select your subject</p>


<div class="quiz-cards">


<div class="quiz-card">
<h2>🐍 Python</h2>
<p>Test your Python knowledge</p>
<a href="/python_quiz">Start Quiz</a>
</div>


<div class="quiz-card">
<h2>☕ Java</h2>
<p>Practice Java questions</p>
<a href="/java_quiz">Start Quiz</a>
</div>


<div class="quiz-card">
<h2>🗄 DBMS</h2>
<p>Database concepts quiz</p>
<a href="/dbms_quiz">Start Quiz</a>
</div>


<div class="quiz-card">
<h2>🤖 AI</h2>
<p>Artificial Intelligence quiz</p>
<a href="/ai_quiz">Start Quiz</a>
</div>


</div>

</div>


{% endblock %}